<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="view_event.css">
    <title>View Event | Scenez</title>
</head>


<body>
    <nav class="navbar navbar-light d-flex sticky-top" style="background-color: #2A0055;">
        <div class="container col-sm-12 d-flex justify-content-between">
            <div class="row col-sm-12 align-items-center">
                <!--LOGO-->
                <div class="col-sm-2 float-left ">
                    <a class="navbar-brand" href="#"><img src="logo.png" class="logo ml-auto"></a>
                </div>

                <!--HOME BUTTON-->
                <div class="col-sm-1 ">
                    <a href="#"><i class="fa fa-home fa-2x fa-fw neeche_button my-auto float-left"></i></a>
                </div>
                <!-- SEARCH BAR -->
                <div class="col ">
                    <form class="form-inline">
                        <input type="text" name="searchBar" placeholder="Search bar..." class="col search_bar ml-auto">
                        <button type="submit" class="search_bar col-sm-1 d-inline" id="search_button">
                            <i class="fa fa-search "></i>
                        </button>
                    </form>
                </div>
                <!--NOTIFICATIONS BUTTON-->
                <div class="col-sm-1">
                    <a href="#"><i class="far fa-bell fa-2x fa-fw neeche_button ml-auto float-right"></i></a>
                </div>

                <!-- PROFILE PICTURE -->
                <div class="text-center col-sm-2">
                    <div class=" float-right">
                        <a href="logout.jsp"><img src="bandi.jpg" class="profile_picture"></a>
                        <label class="name d-block"><strong>Ivana Bouchard</strong></label>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEECHE WAALI CHEEZEIN -->
        <!-- <div id="icon_bar" class="container col-sm-6 d-flex justify-content-between px-4">
                    <a href="#"><i class="fa fa-home fa-2x fa-fw neeche_button mr-auto float-left"></i></a>
                    <a href="#"><i class="far fa-bell fa-2x fa-fw neeche_button ml-auto"></i></a>
                </div> -->
    </nav>

    <!-- *************** LEFT COLUMN *************** -->
    <div class="container d-flex justify-content-start border-right float-left col-lg-2 make-me-sticky">
        <div id="left-col" class="col-lg-12 ml-2 ">
            <div id="groups" class="row d-flex col-lg-12 mt-4 mb-4 border-bottom pb-4">
                <div class="d-flex justify-content-between">
                    <h5 class="to-be-grey"><strong>Groups</strong></h5>
                </div>
                <nav class="nav flex-column">
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Active</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Disabled</a>
                    <a href="#" id="see-more" class="mt-2"><strong>See more</strong></a>
                </nav>
                <button id="create-group-btn"
                    class="btn btn-sm btn-outline-dark text-white mt-3 ml-auto float-right my-btn">Create Group</button>
            </div>
            <div id="pop-tags" class="row d-flex col-lg-12">
                <h5 class="to-be-grey"><strong>Popular Tags</strong></h5>
                <nav class="nav flex-column">
                    <a class="nav-link row tbp" href="#"><i class="fas fa-hashtag"></i> Active</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-hashtag"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-hashtag"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-hashtag"></i> Disabled</a>
                </nav>
            </div>
        </div>
    </div>

    <div id="main-view-pane" class="container-fluid align-items-start col-sm-8 d-inline-block feed">
        <div id="event-title" class="row ">
            <h2 style="color: #4E4E4E; font-weight: 700;" class="mx-auto">Your Event</h2>
        </div>
        <div id="event-metadata" class="row align-items-center mx-auto">
            <div id="cover-img" class="col-sm-6 py-0 border">
                <img src="image.jpg" class="img-responsive col-sm-12">
            </div>

            <div id="event-metadata-text" class="col">
                <div class="row">
                    <div class="col">
                        <h5>Details:</h5>
                        <div class="row align-items-center">
                            <div class="col-sm-3 my-2">
                                <label for="location">
                                    <h6>Location: </h6>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="location" id="location"
                                    placeholder="Enter a location">
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-sm-3 my-2">
                                <label for="date">
                                    <h6>Date:</h6>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="date" id="location">
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-sm-3 my-2">
                                <label for="time">
                                    <h6>Time: </h6>
                                </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="time" class="form-control" name="time" id="location">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto align-items-center">
                    <div class="form-group col px-0">
                        <label for="event-tags">
                            <h6>Tags:</h6>
                        </label>
                        <textarea id="event-tags" class="form-control" rows="3"
                            placeholder="Enter a comma-separated list of tags here..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div id="event-description" class="container-fluid">
            <div class="row align-items-center ">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose cover image for this event</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="event-description">
                            <h6>Enter a description for this event</h6>
                        </label>
                        <textarea id="event-description" class="form-control"
                            placeholder="Please enter a description here..." rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row my-2 justify-content-end mx-auto">
                <button type="submit" class="btn btn-outline-dark my-btn">Make New Post</button>
            </div>
        </div>
    </div>

    <!-- *************** RIGHT COLUMN *************** -->
    <div class="container d-flex justify-content-start border-left float-right col-sm-2 make-me-sticky">
        <div id="right-col" class="col-lg-12 mr-2 ">
            <div id="trending-events" class="row d-flex col-lg-12 mt-4 mb-4 border-bottom pb-4">
                <h5 class="to-be-grey"><strong>Trending Events</strong></h5>
                <nav class="nav flex-column">
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Active</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Disabled</a>
                </nav>
            </div>
            <div id="chat" class="row d-flex col-lg-12">
                <h5 class="to-be-grey"><strong>Chats Here</strong></h5>
                <nav class="nav flex-column">
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Active</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Link</a>
                    <a class="nav-link row tbp" href="#"><i class="fas fa-users"></i> Disabled</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="footer container-fluid col-sm-12 justify-content-between mt-5 fixed-bottom"
        style="background-color: #303030;">

        <!-- LOGO -->
        <div class="row d-flex justify-content-betweens align-items-center">
            <div class="col-2 footer-logo d-block float-left ">
                <img src="logo.png">
            </div>

            <!-- INFO -->
            <div class="col links d-inline-block my-auto justify-content-around">
                <a href="#">HOME</a>
                <label for=""> | </label>
                <a href="#">ABOUT</a>
                <label for=""> | </label>
                <a href="#">SUPPORT</a>
                <label for=""> | </label>
                <a href="#">CONTACT</a>
            </div>

            <!-- NEWSLETTER -->
            <div class="float-right col-2">
                <p class="mb-1 " style="letter-spacing: 1px;">JOIN OUR NEWSLETTER</p>
                <form action="#" id="newsletter" class="row align-items-center">
                    <input type="email" id="newsletter-input"
                        class="col-sm-8 bg-dark rounded form-control-sm border-1 px-2 ml-auto">
                    <button class="btn btn-sm btn-outline-light text-light bg-transparent ml-auto mr-auto"
                        type="submit">JOIN</button>
                </form>
            </div>
        </div>

        <!-- CREDITS -->
        <div class="row mt-2">
            <div class="credits col d-block mb-0">
                <p class="mb-0">© Codeplay | All Right Reserved</p>
            </div>
        </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>