<!DOCTYPE html>
<html>

<head>
	<title>Feedback | Scenez</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="mainfeed.css"> -->
	<link rel="stylesheet" type="text/css" href="common.css">
	<link rel="stylesheet" type="text/css" href="header.css">
	<link rel="stylesheet" type="text/css" href="feedback.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-light d-flex sticky-top" style="background-color: #2A0055;">
		<div class="container col-sm-12 d-flex justify-content-between">
			<div class="row col-sm-12 align-items-center">

				<!--LOGO-->
				<div class="col-sm-2 float-left ">
					<a class="navbar-brand" href="#"><img src="logo.png" class="logo ml-auto"></a>
				</div>

				<!--HOME BUTTON-->
				<div class="col-sm-1 ">
					<a href="#"><i class="fa fa-home fa-2x fa-fw neeche_button my-auto float-left"></i></a>
				</div>


				<!-- SEARCH BAR -->
				<div class="col">
					<form class="form-inline">
						<input type="text" name="searchBar" placeholder="Search bar..." class="col search_bar ml-auto">
						<button type="submit" class="search_bar col-sm-1 d-inline" id="search_button">
							<i class="fa fa-search "></i>
						</button>
					</form>
				</div>


				<!--NOTIFICATIONS BUTTON-->
				<div class="col-sm-1">
					<a href="# dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="far fa-bell fa-2x fa-fw neeche_button ml-auto float-right animate"></i>
					</a>
					<div class="dropdown-menu" id="pic-dropdown" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item option pr-2" href="#">Friend Requests <span class="badge badge-pill badge-tag ml-2">2</span></a>
						<a class="dropdown-item option pr-2" href="#">Chats<span class="badge badge-pill badge-tag ml-2 float-right">1</span></a>
						<a class="dropdown-item option pr-2" href="#">Event Invites<span class="badge badge-pill badge-tag ml-2 float-right">7</span></a>
						<a class="dropdown-item option pr-2" href="#">Group Invites<span class="badge badge-pill badge-tag ml-2 float-right">4</span></a>
					</div>
				</div>


				<!-- PROFILE PICTURE -->
				<div class="text-center col-sm-2">
					<div class=" float-right">
						<a href="logout.jsp"><img src="bandi.jpg" class="profile_picture"></a>
						<label class="name d-block"><strong>
								<div class="dropdown show">
									<a class="name dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Ivana Bouchard
									</a>

									<div class="dropdown-menu" id="pic-dropdown" aria-labelledby="dropdownMenuLink">
										<a class="dropdown-item option" href="#">View Profile</a>
										<a class="dropdown-item option" href="#">Settings</a>
										<a class="dropdown-item option" href="#">Logout</a>
									</div>
								</div>
							</strong></label>
					</div>
				</div>
			</div>
		</div>
	</nav>


	<!-- *************** LEFT COLUMN *************** -->
	<div class="container d-flex justify-content-start border-right float-left col-sm-2 make-me-sticky">
		<div id="left-col" class="col-sm-12 ml-2 ">

			<!-------- GROUPS --------->
			<div id="groups" class="row d-flex mt-4 mb-4 border-bottom pb-4">
				<!-- GROUPS HEADING -->
				<div id="group-header" class="row justify-content-center">
					<h5 class="tbg col-sm-12"><strong>My Groups</strong></h5>
				</div>

				<div id="group-list" class="container mx-auto">
					<nav class="nav col-sm-12 mx-auto list-group">

						<div class="row">
							<div class="col-sm-12">
								<a class="nav-link tbp d-inline-block" href="#"><i
										class="fas fa-users mr-2"></i>Orgy</a>
							</div>
						</div>

						<div class="row d-block">
							<div class="col-sm-12">
								<a class="nav-link tbp d-inline-block" href="#"><i
										class="fas fa-users mr-2"></i>Sehri</a>
							</div>
						</div>
						<div class="row d-block">
							<div class="col-sm-12">
								<a class="nav-link tbp d-inline-block" href="#"><i
										class="fas fa-users mr-2"></i>Iftar</a>
							</div>
						</div>
						<div class="row d-block">
							<div class="col-sm-12">
								<a class="nav-link tbp d-inline-block" href="#"><i
										class="fas fa-users mr-2"></i>"Dinner"</a>
							</div>
						</div>
					</nav>
					<div class="row">
						<div class="col-sm-12">
							<a href="#" id="see-more" class="link"><strong>See more</strong></a>
						</div>
					</div>
				</div>
				<!-- LIST OF GROUPS -->
				<div class="container px-0">
					<div class="col-sm-8">
						<button id="create-group-btn" class="btn btn-sm btn-outline-dark mt-3 col mx-auto my-btn">Create
							Group</button>
					</div>

				</div>

			</div>

			<!-------- POPULAR TAGS --------->
			<div id="pop-tags" class="row d-flex">
				<!-- HEADING -->
				<div class="row d-block">
					<h5 class="tbg col"><strong>Popular Tags</strong></h5>
				</div>

				<div class="container px-0 d-block">
					<div class="col">
						<a href="#" class="badge badge-tag d-inline">Primary</a>
						<a href="#" class="badge badge-tag d-inline">Secondary</a>
						<!-- <a href="#" class="badge badge-tag d-inline">Success</a>
						<a href="#" class="badge badge-tag d-inline">Danger</a>
						<a href="#" class="badge badge-tag d-inline">Warning</a>
						<a href="#" class="badge badge-tag d-inline">Info</a>
						<a href="#" class="badge badge-tag d-inline">Light</a>
						<a href="#" class="badge badge-tag d-inline">Dark</a> -->
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid col-sm-8 d-inline-block feed">

	</div>


	<!-- *************** RIGHT COLUMN *************** -->
	<div class="container d-flex justify-content-start border-left float-right col-sm-2 make-me-sticky">

		<div id="right-col" class="col-sm-12 px-0">

			<!-------- TRENDING EVENTS --------->
			<div id="trending-events" class="row d-flex col-sm-12 mt-3 mb-0 pb-0 px-3">
				<h5 class="tbg"><strong>Upcoming Events</strong></h5>
				<p id="sort-prompt" class="tbp col-sm-12 px-0 py-0 mb-3">Sorted by: date</p>

				<nav class="nav flex-column">

					<!-- Event 1 -->
					<div class="mb-4 trending-event-instance">
						<a href="#">
							<h4 class="tbg trending-event-heading mb-0">John Smith's Concert</h4>
							<p class="tbg font-weight-bold mb-0" style="font-size: 0.8rem;">Event created by: </p>
							<span class="tbp" style="font-size: 0.8rem;">Ankara Concert Association</span>
						</a>
					</div>

					<!-- Event 2 -->
					<div class="mb-4">
						<a href="#">
							<h4 class="tbg trending-event-heading mb-0">Bilkent vs. NUST</h4>
							<p class="tbg font-weight-bold mb-0" style="font-size: 0.8rem;">Event created by: </p>
							<span class="tbp" style="font-size: 0.8rem;">Bilkent Football Club</span>
						</a>
					</div>

					<!-- Event 3 -->
					<div class="mb-4">
						<a href="#">
							<h4 class="tbg trending-event-heading mb-0">Women's March</h4>
							<p class="tbg font-weight-bold mb-0" style="font-size: 0.8rem;">Event created by: </p>
							<span class="tbp" style="font-size: 0.8rem;">Women Rights Association</span>
						</a>
					</div>

				</nav>
			</div>

			<!-------- CHAT --------->
			<div id="chat" class="col-sm-12 px-0">
				<div class="row d-flex justify-content-end align-items-center pt-1"
					style="border-top: 1px solid #707070;">
					<div class="col-sm-5 my-0">
						<h5 class="tbg"><strong>Chats</strong></h5>
					</div>
					<div class="col-sm-7 my-0 px-3 ">
						<a href="#" class="view-all-chats float-right">View all chats</a> <!-- view all chats -->
					</div>
				</div>

				<!-- Friend 1 -->
				<a href="#" class="chat-link">
					<div class="row chat-box border-bottom py-2 d-flex justify-content-start align-items-center">
						<div class="col-sm-3">
							<img src="celebration.jpg" alt="" class="chat-pic">
						</div>
						<div class="col-sm-8">
							<h5 class="friend-name tbp mb-0">Tamim Akhtar</h5>
						</div>
					</div>
				</a>

				<!-- Friend 2 -->
				<a href="#" class="chat-link">
					<div class="row chat-box py-2 d-flex justify-content-start align-items-center">
						<div class="col-sm-3">
							<img src="david.jpg" alt="" class="chat-pic">
						</div>
						<div class="col-sm-8">
							<h5 class="friend-name tbp mb-0">Hamza Ashfaq</h5>
						</div>
					</div>
				</a>

				<!-- Friend 3 -->
				<a href="#" class="chat-link">
					<div class="row chat-box py-2 d-flex justify-content-start align-items-center">
						<div class="col-sm-3">
							<img src="bandi.jpg" alt="" class="chat-pic">
						</div>
						<div class="col-sm-8">
							<h5 class="friend-name tbp mb-0">Rameez Hashmi</h5>
						</div>
					</div>
				</a>

				<!-- Friend 4 -->
				<a href="#" class="chat-link">
					<div class="row chat-box py-2 d-flex justify-content-start align-items-center">
						<div class="col-sm-3">
							<img src="dancing.jpg" alt="" class="chat-pic">
						</div>
						<div class="col-sm-8">
							<h5 class="friend-name tbp mb-0">Talha Zeeshan</h5>
						</div>
					</div>
				</a>

			</div>
		</div>
	</div>

	<!-- ************************************* -->
	<!-- ************************************* -->
	<!-- ************************************* -->
	<div class="container-fluid col-sm-7 d-inline-block ml-5 mt-0 pl-5">
			<div class="ml-5 ">
				<!-- <div class="row col-sm-12"> -->
						<hr class="end-of-post-hr mb-5">
					<h4 class="tbg mb-3 display-4 font-weight-normal text-center">We value your feedback...</h4>
					<hr class="end-of-post-hr my-5">
					
					<div class="col-sm-10">
						<div class="row mb-5 d-flex justify-content-center">
							<h2 class="font-weight-light"><strong class="tbg">Event name: </strong><span class="tbp">Bilkent</span></h2>
						</div>
						<div class="row d-flex justify-content-between">
							<h4 class="font-weight-light"><strong class="tbg">Location: </strong><span class="tbp">Bilkent</span></h4>
							<h4 class="font-weight-light"><strong class="tbg">Date: </strong><span class="tbp"></span></h4>
							<h4 class="font-weight-light"><strong class="tbg">Time: </strong><span class="tbp"></span></h4>
						</div>
					</div>
				
				<hr class="end-of-post-hr my-5">

				<div>
					<form action="">
						<div class="row col-sm-12 mt-5">
							<div class="col">
								<h4 class="tbg font-weight-bold">Rating: </h4>
								<div class="stars">
										<form action="">
											<input class="star star-5" id="star-5" type="radio" name="star"/>
											<label class="star star-5" for="star-5"></label>
											<input class="star star-4" id="star-4" type="radio" name="star"/>
											<label class="star star-4" for="star-4"></label>
											<input class="star star-3" id="star-3" type="radio" name="star"/>
											<label class="star star-3" for="star-3"></label>
											<input class="star star-2" id="star-2" type="radio" name="star"/>
											<label class="star star-2" for="star-2"></label>
											<input class="star star-1" id="star-1" type="radio" name="star"/>
											<label class="star star-1" for="star-1"></label>
										</form>
									</div>
							</div>
						</div>
						<div class="row col-sm-12">
							<div class="col">
								<h4 class="tbg font-weight-bold mb-3 mr-3">Comments: </h4>
								<textarea name="feedback" id="feedback" cols="120" rows="7" class="ml-4"></textarea>
							</div>
						</div>
						<div class="row d-flex justify-content-center mt-5 mb-5">
							<div class="col-sm-5 d-flex justify-content-around">
								<button class="btn btn-lg my-btn">Post Feedback</button>
								<button class="btn btn-lg my-btn">Cancel</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	


</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	crossorigin="anonymous"></script>

</html>