.navbar {
	height: 210px;
	opacity: 0%;
}

img {
	width: 160px;
	height: 160px;
	margin-left: 28%;
	margin-top: 0.9em; 
}


.login-field {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 1rem;
	width: 260px;
}

.input-field  {
	width: 260px;
	border-radius: 1rem;
	background-color: #E0D2D2;
	font-size: 18px; 
	padding-bottom: 10px; 
	letter-spacing: 1px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.normalText {
	color: #94929D;
	margin-bottom: 0.8em;
}

#signupSuggestion {
	float: right;
	font-size: 12px;
	margin-right: 12px;
	text-align: right;
}

.link {
	color: white;
	margin-bottom: 0.8em;
}

.btn-login {
	float: right;
	margin-right: 8px;	
	border-radius: 1rem;
	padding-bottom: 6px;
}

.btn {
	border-radius: 1rem;
	height: 100%;
	font-size: 15px;
	letter-spacing: 0.5em;
	padding-left: 18px;
	font-weight: 600;
}

/*<!-- ------------------------------------------------------------------------------------------ -->*/

.container {
	margin-top: 2%;
}

.form-input {
	
	background-color: white;
	border-width: 2px;
}

.dropdown-toggle {
	background-color: white;
	color: black;
	width: 250px;
	height: 30px;
	text-align: left;
	border-width: 2px;
	border-color: lightgrey;
	padding-bottom: 15px;
	margin-bottom: 10px;
	text-align: right;
}

.dropdown-toggle:hover { 
  background-color: #2A0055;
  color: white;
}

label {
	padding-left: 6px;
	font-weight: 600;
	color: #707070;
}

/*.column {
	margin-right: 220px;
}*/


/*.dot {
  height: 125px;
  width: 125px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
*/
i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  font-size: 50px;
  background-color: #BEB9B9;
  color: grey;
}

.submit-buttons {
		
	border-radius: 1rem;
	background-color: #2A0055;
	color: white;
	height: 42px;
	font-size: 1.0em;
	letter-spacing: 0.3em; 
}